main {
  height: 80vh;
  background-image: $backImg2;
  border: $border;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
