* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 1100px;
}
header {
  text-align: center;
  margin: 0.2rem 2rem 1rem 2rem;
  padding-left: 30rem;
}
main {
  display: flex;
  gap: 4rem;
  width: auto;
}
h3 {
  margin-top: 1rem;
}
.main_right {
  background-color: rgba(18, 19, 19, 0.113);
  border-radius: 10px;
  width: 400px;
  height: 350px;
  margin-left: 40px;
}
.myForum {
  width: 600px;
  opacity: 0.8;
  line-height: 1.7rem;
  margin-left: 10%;
  padding: 0rem 1rem 0rem 3rem;
}
#post {
  width: 20rem;
}
input {
  position: relative;
  width: 100%;
  padding: 0.4rem 2rem;
  border-radius: 5px;
}
i {
  position: absolute;
  margin-top: 36px;
  margin-left: 10px;
  z-index: 2;
}
.forum .end {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
select {
  padding: 0.5rem 1.7rem;
  width: 8rem;
}
#box {
  width: auto;
  margin: 0px;
  border: 2px solid red;
}

.myForum button {
  border: none;
  border-radius: 10px;
  margin-left: 30rem;
  padding: 0.6rem;
  background-color: rgb(252, 165, 4);
  color: aliceblue;
  font-size: 1rem;
  cursor: pointer;
}
.myForum button:hover {
  background-color: rgb(255, 186, 12);
  color: white;
  text-decoration: underline;
}
strong {
  font-size: 1.3rem;
  color: rgb(252, 165, 4);
}
span {
  text-decoration: line-through;
}
.endend {
  margin-left: 50px;
}
.pric1 {
  padding-right: 270px;
}

hr {
  margin: -10px 20px -30px;
}

.first {
  display: flex;
  margin: 2rem 2rem 0.8rem 1.5rem;
  width: 50%;
}
.first img {
  width: 90px;
  height: 100px;
  border-radius: 10px;
}
.top_end {
  margin-left: 2rem;
  margin-bottom: 1px;
}
.top_end1 {
  text-decoration: none;
}
.first .botton {
  border: 1px solid rgba(117, 109, 109, 0.565);
  border-radius: 3px;
  display: flex;
  padding: 3px;
  width: 90px;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 1.5rem;
}
.botton div {
  padding: 2px;
}
.first button {
  width: 17px;
  cursor: pointer;
  font-weight: bold;
  padding: 2px;
}
