/* .myli {
  list-style-type: none;
  width: 20rem;
  background-color: aqua;
  margin-top: 1rem;
} */
.buton2 {
  border-radius: 50%;
  background-color: blueviolet;
  color: aliceblue;
}
.buton3 {
  border-radius: 50%;
  background-color: blueviolet;
  color: aliceblue;
}
ul {
  border: 2px solid red;
}
.checked {
  /* background-color: aqua; */
  color: rgb(254, 254, 254);
  text-decoration: line-through;
}
