* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  background-image: url("./img/ireland-1971997_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* height: auto; */
}

.card {
  background-color: rgba(0, 251, 255, 0.741);
  display: flex;
  justify-content: center;
  text-align: center;
  -webkit-box-shadow: 13px 1px 6px 0px rgba(0, 0, 0, 0.744);
  box-shadow: 13px 1px 6px 0px rgba(192, 47, 47, 0.745);
}
input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

::placeholder {
  color: rgb(231, 11, 11);
  font-weight: bold;
}
