//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: #272727;
$secondary-color: #66ff00;
$text-color: #eee;

//font
$height: 100vh;
$font-family: Arial, Helvetica, sans-serif;
$border: 8px solid $secondary-color;
$backImg: url(https://resimdiyari.com/_data/i/upload/2012/10/14/20121014183753-5a8ae0b6-me.jpg);
$backImg2: url(../../../Images/avatar_2-removebg-preview.png);
